<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="jsonWcfBehavior">
                  <webHttp/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>

      <services>
        <service name="WebReport.Bll.TestService">
          <endpoint address="" behaviorConfiguration="jsonWcfBehavior" binding="webHttpBinding" contract="WebReport.Interface.ITest"></endpoint>
        </service>

        <service name="WebReport.Bll.TbdeviceBll">
          <endpoint address="" behaviorConfiguration="jsonWcfBehavior" binding="webHttpBinding" contract="WebReport.Interface.ITbdeviceBll"></endpoint>
        </service>

        <service name="WebReport.Bll.EnergyDataBll">
          <endpoint address="" behaviorConfiguration="jsonWcfBehavior" binding="webHttpBinding" contract="WebReport.Interface.IEnergyDataBll"></endpoint>
        </service>

        <service name="WebReport.Bll.EnergyMonthDataBll">
          <endpoint address="" behaviorConfiguration="jsonWcfBehavior" binding="webHttpBinding" contract="WebReport.Interface.IEnergyMonthDataBll"></endpoint>
        </service>
      </services>
    </system.serviceModel>
</configuration>
